# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
*.env

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# PyInstaller
dist/
build/
*.spec

# Coverage and testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
nosetests.xml
test-results/

# Uvicorn/Pydantic cache
*.sqlite3

firebase-service-account.json